{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Соритровать по:
            <a href="?sort=name">Названию</a>
            <a href="?sort=min_price">Цене по возрастнию</a>
            <a href="?sort=max_price">Цене по убыванию</a>
        </div>

        <div class="content">
            {% for phone in phones %}
            <br><a href="/catalog/{{phone.slug}}">{{ phone.name }}</a> Стоимость: {{ phone.price }}</br>
            <img src="{{ phone.image }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}