{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
        <br>Название модели: {{phone.name}}</br>
        <br>Стоимость: {{phone.price}}</br>
        <br>Дата выпуска: {{phone.release_date}}</br>
        <br>Наличие lte: 
        {% if phone.lte_exists == True %}
            Да
        {% else %}
            Нет
        {% endif %}</br>
        <br>Фото модели: </br>
        <img src="{{phone.image}}">
        </div>
    </div>
{% endblock %}